.copyright-container {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #585757;
    padding: 2rem;
}

.copyright-text {
    color: white;
    font-size: x-small;
}
